<aside class="sidebar p-3 border-end border-opacity-100 " th:fragment="sidebar">
    <div class="mb-4 mt-4">
        <span class="fw-semibold text-secondary"><i class="fa-regular fa-calendar-days"></i> Quản lý học kỳ</span>
    </div>
    <div class="mb-4">
        <span class="fw-semibold text-secondary"><i class="fa-solid fa-calculator"></i> Quản lý bộ môn</span>
    </div>
    <div class="mb-4">
        <span class="fw-semibold text-secondary"><i class="fa-solid fa-calculator"></i> Quản lý cơ sở</span>
    </div>
    <div class="mb-4">
        <span class="fw-semibold text-secondary"><i class="fa-solid fa-cloud"></i> Quản lý chức vụ</span>
    </div>
    <div class="mb-4">
        <a style="text-decoration: none; cursor: pointer" th:href="@{/}" class="fw-semibold text-primary"><i class="fa-solid fa-user"></i> Quản lý nhân viên</a>
    </div>
    <div class="mb-4">
        <span class="fw-semibold text-secondary"><i class="fa-solid fa-school"></i> Quản lý lớp môn</span>
    </div>
    <div class="mb-4">
        <span class="fw-semibold text-secondary"><i class="fa-solid fa-chalkboard"></i> Quản lý môn học</span>
    </div>
    <div class="mb-4">
        <span class="fw-semibold text-secondary"><i class="fa-brands fa-leanpub"></i> Quy định thi</span>
    </div>
</aside>